<!DOCTYPE html>
<html lang="zh-tw">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>後臺面板 - 高大資工宿營</title>

	<!-- 字型引擎 -->
	<link href="/static/css/all.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- 樣式表 -->
	<link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
	
	<!-- 網站圖示 -->
	<link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">
	

	<!-- Bootstrap & jQuery 核心 -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<!-- 時間在地化 -->
	{{ moment.include_moment() }}
	{{ moment.locale("zh_TW") }}

	<!-- 資料表 -->
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
		crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"
		crossorigin="anonymous"></script>

</head>

<body id="page-top">
	<div id="wrapper">
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- 功能導航列 -->
				<nav class="navbar navbar-expand justify-content-end navbar-light 
							bg-white topbar mb-4 static-top shadow">
					<button type="button" class="btn m-2 btn-primary" data-toggle="modal"
						data-target="#tradeModal">金幣交易</button>
					<button type="button" class="btn m-2 btn-primary" data-toggle="modal"
						data-target="#clueModal">線索釋放</button>
					<button type="button" class="btn m-2 btn-primary" data-toggle="modal"
						data-target="#domainModal">關卡佔領</button>
					<button type="button" class="btn m-2 btn-primary" data-toggle="modal"
						data-target="#cardModal">功能卡</button>
					<button type="button" class="btn m-2 btn-primary" data-toggle="modal"
						data-target="#infoModal">訊息發布</button>
					<a href="/team"><button type="button" class="btn m-2 btn-info"><i
								class="fas fa-home"></i></button></a>
					<a href="/dashboard"><button type="button" class="btn m-2 btn-info"><i
								class="fas fa-sync-alt"></i></button></a>
				</nav>
				<!-- 結束功能導航列 -->

				<!-- 主要內容 -->
				<div class="container-fluid">

					<div class="mb-4 ml-3 mt-5">
						<h6 class="h3 mb-0 text-gray-800">隊伍進度</h6>
					</div>

					<!-- 第一列 -->
					<div class="row">

						<!-- 小隊進度卡 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-danger shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="font-weight-bold text-danger mb-1">阿瑞斯小隊 Team Red</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ teamList[0].clues }}</div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-danger" role="progressbar"
													style="width: {{ teamList[0].clues/22*100 }}%" aria-valuenow="50" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 小隊進度卡 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="font-weight-bold text-success mb-1">雅典娜小隊 Team Green</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ teamList[1].clues }}</div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-success" role="progressbar"
															style="width: {{ teamList[1].clues/22*100 }}%" aria-valuenow="50" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 小隊進度卡 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="font-weight-bold text-warning mb-1">阿波羅小隊 Team Yellow</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ teamList[2].clues }}</div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-warning" role="progressbar"
															style="width: {{ teamList[2].clues/22*100 }}%" aria-valuenow="50" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 小隊進度卡 -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="font-weight-bold text-primary mb-1">波賽頓小隊 Team Blue</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ teamList[3].clues }}</div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-primary" role="progressbar"
															style="width: {{ teamList[3].clues/22*100 }}%" aria-valuenow="50" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="mb-4 ml-3 mt-5">
						<h6 class="h3 mb-0 text-gray-800">其他資訊</h6>
					</div>

					<!-- 第二列 -->
					<div class="row">

						<!-- 關卡佔領狀態 -->
						<div class="col-xl-8 col-lg-7">
							<div class="card shadow mb-4">

								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h5 class="m-0 font-weight-bold text-primary">關卡占領狀態</h5>
								</div>

								<div class="card-body">

									<div class="row">
										<div class="column col-6">
											<div class="card mb-4 
												{% if domainList[0].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[0].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡A</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡A</h5>
														{% if domainList[0].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[0].time).format('LLL') }}</p>
														{% elif domainList[0].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[0].time).format('LLL') }}</p>
														{% elif domainList[0].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[0].time).format('LLL') }}</p>
														{% elif domainList[0].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[0].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>

											<div class="card mb-4 
												{% if domainList[1].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[1].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡B</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡B</h5>
														{% if domainList[1].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[1].time).format('LLL') }}</p>
														{% elif domainList[1].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[1].time).format('LLL') }}</p>
														{% elif domainList[1].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[1].time).format('LLL') }}</p>
														{% elif domainList[1].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[1].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>

											<div class="card mb-4 
												{% if domainList[2].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[2].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡C</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡C</h5>
														{% if domainList[2].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[2].time).format('LLL') }}</p>
														{% elif domainList[2].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[2].time).format('LLL') }}</p>
														{% elif domainList[2].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[2].time).format('LLL') }}</p>
														{% elif domainList[2].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[2].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>

											<div class="card mb-4 
												{% if domainList[3].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[3].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡D</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡D</h5>
														{% if domainList[3].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[3].time).format('LLL') }}</p>
														{% elif domainList[3].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[3].time).format('LLL') }}</p>
														{% elif domainList[3].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[3].time).format('LLL') }}</p>
														{% elif domainList[3].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[3].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>

										</div>

										<div class="column col-6">
											<div class="card mb-4 
												{% if domainList[4].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[4].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡E</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡E</h5>
														{% if domainList[4].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[4].time).format('LLL') }}</p>
														{% elif domainList[4].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[4].time).format('LLL') }}</p>
														{% elif domainList[4].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[4].time).format('LLL') }}</p>
														{% elif domainList[4].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[4].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>
											
											<div class="card mb-4 
												{% if domainList[5].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[5].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡F</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡F</h5>
														{% if domainList[5].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[5].time).format('LLL') }}</p>
														{% elif domainList[5].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[5].time).format('LLL') }}</p>
														{% elif domainList[5].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[5].time).format('LLL') }}</p>
														{% elif domainList[5].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[5].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>

											<div class="card mb-4 
												{% if domainList[6].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[6].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡G</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡G</h5>
														{% if domainList[6].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[6].time).format('LLL') }}</p>
														{% elif domainList[6].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[6].time).format('LLL') }}</p>
														{% elif domainList[6].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[6].time).format('LLL') }}</p>
														{% elif domainList[6].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[6].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>

											<div class="card mb-4 
												{% if domainList[7].team_id != None %}
												bg-info
												{% endif %} 
												" , style="border-radius: 40px;">
												<div class="card-body pl-5">
													{% if domainList[7].team_id == None %}
														<h5 class="card-title font-weight-bold">關卡H</h5>
														<p class="card-text">目前尚無小隊破關</p>
													{% else %}
														<h5 class="card-title text-white font-weight-bold">關卡H</h5>
														{% if domainList[7].team_id == 1 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[7].time).format('LLL') }}</p>
														{% elif domainList[7].team_id == 2 %}
															<p class="card-text text-white">雅典娜小隊 - {{ moment(domainList[7].time).format('LLL') }}</p>
														{% elif domainList[7].team_id == 3 %}
															<p class="card-text text-white">阿波羅小隊 - {{ moment(domainList[7].time).format('LLL') }}</p>
														{% elif domainList[7].team_id == 4 %}
															<p class="card-text text-white">阿瑞斯小隊 - {{ moment(domainList[7].time).format('LLL') }}</p>
														{% endif %}
													{% endif %}
												</div>
											</div>

										</div>

									</div>



								</div>
							</div>
						</div>

						<!-- 各小隊金幣 -->
						<div class="col-lg-4">
							<div class="card shadow mb-4">

								<!-- Card Header -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h5 class="m-0 font-weight-bold text-primary">各小隊金幣</h5>
								</div>

								<!-- Card Body -->
								<div class="card-body">

									<div class="mb-4">
										<div class="card bg-danger text-white shadow">
											<div class="d-flex card-body justify-content-between">
												<h6 class="mt-3">阿瑞斯小隊</h6>
												<h3 class="mt-2">$ {{ teamList[0].team_coins }}</h3>
											</div>
										</div>
									</div>

									<div class="mb-4">
										<div class="card bg-success text-white shadow">
											<div class="d-flex card-body justify-content-between">
												<h6 class="mt-3">雅典娜小隊</h6>
												<h3 class="mt-2">$ {{ teamList[1].team_coins }}</h3>
											</div>
										</div>
									</div>

									<div class="mb-4">
										<div class="card bg-warning text-white shadow">
											<div class="d-flex card-body justify-content-between">
												<h6 class="mt-3">阿波羅小隊</h6>
												<h3 class="mt-2">$ {{ teamList[2].team_coins }}</h3>
											</div>
										</div>
									</div>

									<div class="mb-4">
										<div class="card bg-primary text-white shadow">
											<div class="d-flex card-body justify-content-between">
												<h6 class="mt-3">波賽頓小隊</h6>
												<h3 class="mt-2">$ {{ teamList[3].team_coins }}</h3>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

					<!-- 第三列 -->
					<div class="row">

						<!-- 功能卡狀態 -->
						<div class="col-lg-6 mb-4">
							<div class="card shadow mb-4">

								<div class="card-header py-3">
									<h5 class="m-0 font-weight-bold text-primary">功能卡狀態</h5>
								</div>

								<div class="card-body">
									<div class="row">
										<div class="col-lg-10 tab-content" id="v-pills-tabContent">
                      <!-- 阿瑞斯狀態卡片 -->
											<div class="tab-pane fade show active" id="v-pills-red" role="tabpanel"
												aria-labelledby="v-pills-red-tab">
												
												<div class="column text-white">
													{% if teamList[0].clueCardStatus == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded"
																style="background-color:mediumseagreen;">
																<h4 class="card-title">
																	<i class="far fa-thumbs-up mr-1"></i>線索增益
																</h4>
																<p class="card-text">下回合多拿一個線索</p>
															</div>
														</div>
													</div>
													{% endif %}

													{% if teamList[0].clueCardStatus == -1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue;">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>線索減益
																</h4>
																<p class="card-text">下回合少拿一個線索</p>
																<div class="row justify-content-between pl-2 pr-3">
																	
																</div>
															</div>
														</div>
													</div>
													{% endif %}

													{% if teamList[0].selfBanCardStatus == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:darkgray">
																<h4 class="card-title">
																	<i class="fas fa-ban mr-1"></i>我BAN我自己
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">在15分鐘對任何功能卡免疫</p>
																	<p class="card-text">剩下時間：
                                    {{ moment(teamList[0].selfBanCardTime).fromNow(True) }}
                                  </p>
																</div>
															</div>
														</div>
													</div>
													{% endif %}

													{% if teamList[0].isolateCardStatus == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>不是減益是檢疫
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">在5分鐘內回到主舞台</p>
                                  <p class="card-text">剩下時間：{{ teamList[0].selfBanCardTime }}</p> 
                                  <!-- TODO:倒數計時精密度調整 -->
																</div>
															</div>
														</div>
													</div>
													{% endif %}

                          <!-- TODO:倒數計時到期顯示 -->
													{% if banCardList[0].stage1_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡A
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage1_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
                          {% endif %}
                          
                          {% if banCardList[0].stage2_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡B
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage2_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
                          {% endif %}
                          
                          {% if banCardList[0].stage3_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡C
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage3_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
                          {% endif %}
                          
                          {% if banCardList[0].stage4_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡D
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage4_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
                          {% endif %}
                          
                          {% if banCardList[0].stage5_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡E
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage5_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
                          {% endif %}
                          
                          {% if banCardList[0].stage6_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡F
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage6_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
                          {% endif %}
                          
                          {% if banCardList[0].stage7_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡G
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage7_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
                          {% endif %}
                          
                          {% if banCardList[0].stage8_status == 1 %}
													<div class="col-auto mb-3">
														<div class="card">
															<div class="card-body rounded pb-0"
																style="background-color:mediumslateblue">
																<h4 class="card-title">
																	<i class="far fa-thumbs-down mr-1"></i>禁止闖關 - 關卡H
																</h4>
																<div class="row justify-content-between pl-2 pr-3">
																	<p class="card-text">禁止遊玩該關卡15分鐘</p>
																	<p class="card-text">剩下時間：{{ moment(banCardList[0].stage8_time).fromNow(True) }}</p>
																</div>
															</div>
														</div>
													</div>
													{% endif %}

												</div>
                      </div>
                      <!-- 結束阿瑞斯狀態卡片 -->

                      <!-- 雅典娜狀態卡片 -->
											<div class="tab-pane fade" id="v-pills-green" role="tabpanel"
												aria-labelledby="v-pills-green-tab">
												狀態
                      </div>
                      <!-- 結束雅典娜狀態卡片 -->
                      
                      <!-- 阿波羅狀態卡片 -->
											<div class="tab-pane fade" id="v-pills-yellow" role="tabpanel"
												aria-labelledby="v-pills-yellow-tab">
												狀態
                      </div>
                      <!-- 結束阿波羅狀態卡片 -->

                      <!-- 波賽頓狀態卡片 -->
											<div class="tab-pane fade" id="v-pills-blue" role="tabpanel"
												aria-labelledby="v-pills-blue-tab">
												狀態
                      </div>
                      <!-- 結束波賽頓狀態卡片 -->

										</div>

										<div class="col-lg-2 nav flex-column nav-pills" id="v-pills-tab" role="tablist"
											aria-orientation="vertical">
											<a class="nav-link active" id="v-pills-red-tab" data-toggle="pill"
												href="#v-pills-red" role="tab" aria-controls="v-pills-red"
												aria-selected="true">阿瑞斯</a>
											<a class="nav-link" id="v-pills-green-tab" data-toggle="pill"
												href="#v-pills-green" role="tab" aria-controls="v-pills-green"
												aria-selected="false">雅典娜</a>
											<a class="nav-link" id="v-pills-yellow-tab" data-toggle="pill"
												href="#v-pills-yellow" role="tab" aria-controls="v-pills-yellow"
												aria-selected="false">阿波羅</a>
											<a class="nav-link" id="v-pills-blue-tab" data-toggle="pill"
												href="#v-pills-blue" role="tab" aria-controls="v-pills-blue"
												aria-selected="false">波賽頓</a>
										</div>

									</div>
								</div>

							</div>
						</div>
						<!-- 結束功能卡狀態 -->

						<!-- 訊息串 -->
						<div class="col-lg-6 mb-4">
							<div class="card shadow mb-4">

								<div class="card-header py-3">
									<h5 class="m-0 font-weight-bold text-primary">大會訊息</h5>
								</div>

								<div class="card-body">

								</div>

							</div>
						</div>
						<!-- 結束訊息串 -->

					</div>

					<!-- 第四列 - 交易明細表 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h5 class="m-0 font-weight-bold text-primary">交易明細表</h5>
						</div>
						<div class="card-body">
							<div class="table-responsive p-2">
								<table class="table table-striped table-bordered dt-responsive nowrap" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>送出人</th>
											<th>接收小隊</th>
											<th>交易金額</th>
											<th>交易時間</th>
										</tr>
									</thead>

									<tbody>
										{% for index in eventList %}
										<tr>
											<td>{{ userList[index.sender_id-1].nickname }}</td>
											<td>{% if index.team_id == 1 %}
													阿瑞斯小隊
												{% elif index.team_id == 2 %}
													雅典娜小隊
												{% elif index.team_id == 3 %}
													阿波羅小隊
												{% elif index.team_id == 4 %}
													波賽頓小隊
												{% endif %}
											</td>
											<td>{{ index.coins }}</td>
											<td>{{ moment(index.time).format('LLL') }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								
								<script type="text/javascript"> //建立資料表
									$(document).ready(function () {
											$('#dataTable').DataTable();
										});
								</script>

							</div>
						</div>
					</div>

				</div>
				<!-- 結束主要內容 -->
			</div>


			<!-- 跳出式表單 -->
			<!-- 金幣交易 -->
			<div class="modal fade" id="tradeModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">金幣交易</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<form id="tradeform" method="POST" action="">

								{{ tradeform.hidden_tag() }}
								<div class="form-group mb-4">
									<i class="fas fa-users ml-2 mr-1"></i>
									{{ tradeform.team_id.label }}
									{{ tradeform.team_id(class="form-control") }}
								</div>
								<div class="form-group">
									<i class="fas fa-coins ml-2 mr-1"></i>
									{{ tradeform.coins.label }}
									{{ tradeform.coins(class="form-control", autocomplete="off") }}
								</div>

								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								{% for category, message in messages %}
								<div id="tradeflash" class="alert alert-{{ category }}">
									<span>{{ message }}</span>
								</div>
								{% endfor %}
								{% endif %}
								{% endwith %}

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										onclick="location.href='/dashboard'">取消</button>
									{{ tradeform.submit.label(class="sr-only") }}
									{{ tradeform.submit(class="btn btn-primary") }}

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>

			<script> //已經停用了這個功能
				$(document).ready(function () { //頁面載入完成呼叫
					if ($('#tradeflash').length) { //當有錯誤訊息產生
						$('#tradeModal').modal('show'); //顯示 Modal
					}
				});
			</script>
			<!-- 結束金幣交易 -->

			<!-- 線索釋放 -->
			<div class="modal fade" id="clueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">線索釋放</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<form id="clueform" method="POST" action="">

								{{ clueform.hidden_tag() }}
								<div class="form-group mb-4">
									<i class="fas fa-users ml-2 mr-1"></i>
									{{ clueform.team_id.label }}
									{{ clueform.team_id(class="form-control") }}
								</div>
								<div class="form-group">
									<i class="fas fa-coins ml-2 mr-1"></i>
									{{ clueform.clues.label }}
									{{ clueform.clues(class="form-control", autocomplete="off") }}
								</div>

								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								{% for category, message in messages %}
								<div id="clueflash" class="alert alert-{{ category }}">
									<span>{{ message }}</span>
								</div>
								{% endfor %}
								{% endif %}
								{% endwith %}

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										onclick="location.href='/dashboard'">取消</button>
									{{ clueform.submit.label(class="sr-only") }}
									{{ clueform.submit(class="btn btn-primary") }}

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- 結束線索釋放 -->

			<!-- 關卡佔領 -->
			<div class="modal fade" id="domainModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">關卡佔領</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<form id="domainform" method="POST" action="">

								{{ domainform.hidden_tag() }}
								<div class="form-group">
									<i class="fas fa-coins ml-2 mr-1"></i>
									{{ domainform.stageSelect.label }}
									{{ domainform.stageSelect(class="form-control") }}
								</div>

								<div class="form-group mb-4">
									<i class="fas fa-users ml-2 mr-1"></i>
									{{ domainform.team_id.label }}
									{{ domainform.team_id(class="form-control") }}
								</div>

								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								{% for category, message in messages %}
								<div id="domainflash" class="alert alert-{{ category }}">
									<span>{{ message }}</span>
								</div>
								{% endfor %}
								{% endif %}
								{% endwith %}

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										onclick="location.href='/dashboard'">取消</button>
									{{ domainform.submit.label(class="sr-only") }}
									{{ domainform.submit(class="btn btn-primary") }}

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- 結束關卡佔領 -->

			<!-- 功能卡 -->
			<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">關卡佔領</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<form id="cardform" method="POST" action="">

								{{ cardform.hidden_tag() }}
								<div class="form-group">
									<i class="fas fa-coins ml-2 mr-1"></i>
									{{ cardform.card.label }}
									{{ cardform.card(class="form-control", onchange="process(this.options[this.selectedIndex].value);") }}
								</div>

								<div class="form-group mb-4">
									<i class="fas fa-users ml-2 mr-1"></i>
									{{ cardform.team_sent.label }}
									{{ cardform.team_sent(class="form-control") }}
								</div>

								<div class="form-group mb-4">
									<i class="fas fa-users ml-2 mr-1"></i>
									{{ cardform.team_receive.label }}
									{{ cardform.team_receive(class="form-control") }}
								</div>

								<div class="form-group mb-4">
									<i class="fas fa-users ml-2 mr-1"></i>
									{{ cardform.stageSelect1.label }}
									{{ cardform.stageSelect1(class="form-control") }}
								</div>

								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								{% for category, message in messages %}
								<div id="cardflash" class="alert alert-{{ category }}">
									<span>{{ message }}</span>
								</div>
								{% endfor %}
								{% endif %}
								{% endwith %}

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										onclick="location.href='/dashboard'">取消</button>
									{{ cardform.submitCardForm.label(class="sr-only") }}
									{{ cardform.submitCardForm(class="btn btn-primary") }}

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>

			<script language="javascript">

				//初始化disabled欄位，避免不必要的輸入
				$('#stageSelect1').attr('disabled', true);
				$('#team_sent').attr('disabled', true);

				//根據指定欄位的值，決定是否解除disabled屬性
				function process(index) {
					console.log(index);
					if (index == 5) {
						$('#stageSelect1').attr('disabled', false);
					}
					else {
						$('#stageSelect1').attr('disabled', true);
					}

					if (index == 3 || index == 4 || index == 7){ //結束線索效益
						$('#team_sent').attr('disabled', true);
					}
					else{
						$('#team_sent').attr('disabled', false);
					}
				}

				//欄位disabled的資料Sever無法接收，故送出前解除disabled屬性
				$("#submitCardForm").click(function () {
					$('#team_sent').attr('disabled', false);
					$('#stageSelect1').attr("disabled", false);
				});
			</script>
			<!-- 結束功能卡 -->

			<!-- 訊息發布 -->
			<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">訊息發布</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<form id="infoform" method="POST" action="">

								{{ infoform.hidden_tag() }}
								<div class="form-group">
									<i class="fas fa-coins ml-2 mr-1"></i>
									{{ infoform.text.label }}
									{{ infoform.text(class="form-control", autocomplete="off") }}
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										onclick="location.href='/dashboard'">取消</button>
									{{ infoform.submit.label(class="sr-only") }}
									{{ infoform.submit(class="btn btn-primary") }}

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- 結束訊息發布 -->
			<!-- 結束跳出式表單 -->

			<!-- 頁尾 -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; 高大資工宿營 2020</span>
					</div>
				</div>
			</footer>

		</div>
	</div>
</body>

</html>