{% if user.team_id == 5 %}
{% extends 'staff_layout.html' %}
{% else %}
{% extends 'layout.html' %}
{% endif %}
{% block content %}

<div class="p-4 bg-white rounded shadow mb-5">
    <!-- 圓角分頁 -->
    <ul id="myTab" role="tablist"
        class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
        <li class="nav-item flex-sm-fill">
            <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"
                class="nav-link border-0 text-uppercase font-weight-bold active">小隊成員</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">房間分配</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">活動行程表</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="game-tab" data-toggle="tab" href="#game" role="tab" aria-controls="game" aria-selected="false"
                class="nav-link border-0 text-uppercase font-weight-bold">解謎遊戲說明</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade py-4 show active">
            <div class="row justify-content-between mx-2">
                <img src="/static/imgs/avatar-1.png" style="width:50px; border-radius:25px;">
                <img src="/static/imgs/avatar-2.png" style="width:50px; border-radius:25px;">
                <img src="/static/imgs/avatar-3.png" style="width:50px; border-radius:25px;">
                <img src="/static/imgs/avatar-4.png" style="width:50px; border-radius:25px;">
            </div>
            <div class="mx-2 my-4 text-center">
                <table class="table table-bordered">
                    <thead class="thead-light"><th colspan="2">阿瑞斯小隊</th></thead>
                    <tbody>
                        <tr>
                            <td>隊輔</td>
                            <td>峻翔、宣彤</td>
                        </tr>
                        <tr>
                            <td>相官</td>
                            <td>哲綸</td>
                        </tr>
                        <tr>
                            <td>成員</td>
                            <td>信宏、品妤、品豪、洺緯、柏安、郁誼、泓茗</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead class="thead-light"><th colspan="2">雅典娜小隊</th></thead>
                    <tbody>
                        <tr>
                            <td>隊輔</td>
                            <td>子閎、宣螢</td>
                        </tr>
                        <tr>
                            <td>相官</td>
                            <td>家安</td>
                        </tr>
                        <tr>
                            <td>成員</td>
                            <td>欣宜、亦凱、朔潁、士然、俊安、祐誼、翔舒</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead class="thead-light"><th colspan="2">阿波羅小隊</th></thead>
                    <tbody>
                        <tr>
                            <td>隊輔</td>
                            <td>鈺修、思妤</td>
                        </tr>
                        <tr>
                            <td>相官</td>
                            <td>嘉軒</td>
                        </tr>
                        <tr>
                            <td>成員</td>
                            <td>菩方、理凱、珮瑀、哲研、凱翔、權輝、睿穎</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead class="thead-light"><th colspan="2">波賽頓小隊</th></thead>
                    <tbody>
                        <tr>
                            <td>隊輔</td>
                            <td>銘宏、雅鈴</td>
                        </tr>
                        <tr>
                            <td>相官</td>
                            <td>博喻</td>
                        </tr>
                        <tr>
                            <td>成員</td>
                            <td>主績、致維、劭哲、佳珉、怡誠、家展</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade py-4">
            <table class="table table-bordered">
                <tbody>
                    <tr><td>1</td><td>翰暘、鈺修、瑋杰、峻翔、博喻、家安</td></tr>
                    <tr><td>2</td><td>鼎元、緯帆、子閎、宜杰、鎧均、瀚揚</td></tr>
                    <tr><td>3</td><td>泓銘、銘宏、育維、嘉軒、哲綸、庭睿</td></tr>
                    <tr><td>4</td><td>思妤、宣彤、雅鈴、宣螢</td></tr>
                    <tr><td>5</td><td>菩方、理凱、哲研、凱翔、權輝、睿穎</td></tr>
                    <tr><td>6</td><td>信宏、品豪、洺緯、柏安、泓茗</td></tr>
                    <tr><td>7</td><td>致維、劭哲、怡誠、家展</td></tr>
                    <tr><td>8</td><td>亦凱、朔潁、士然、俊安、祐誼、翔舒</td></tr>
                    <tr><td>9</td><td>珮瑀、品妤、郁誼、佳珉、欣宜</td></tr>
                </tbody>
            </table>
        </div>
        <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade py-4 text-center">
            <h4>第一天</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <th>時間</th>
                    <th>活動</th>
                </thead>
                <body>
                    <tr>
                        <td>07:00~07:20</td>
                        <td>集合</td>
                    </tr>
                    <tr>
                        <td>07:20~09:00</td>
                        <td>出發</td>
                    </tr>
                    <tr>
                        <td>09:00~09:30</td>
                        <td>集合&宣導</td>
                    </tr>
                    <tr>
                        <td>09:30~12:00</td>
                        <td>大地遊戲(破冰)</td>
                    </tr>
                    <tr>
                        <td>12:00~13:30</td>
                        <td>午餐</td>
                    </tr>
                    <tr>
                        <td>13:30~16:30</td>
                        <td>占領戰</td>
                    </tr>
                    <tr>
                        <td>16:30~17:30</td>
                        <td>小隊時間</td>
                    </tr>
                    <tr>
                        <td>17:30~19:00</td>
                        <td>晚餐</td>
                    </tr>
                    <tr>
                        <td>19:00~22:00</td>
                        <td>夜教</td>
                    </tr>
                    <tr>
                        <td>22:00~23:00</td>
                        <td>宵夜</td>
                    </tr>
                    <tr>
                        <td>23:00~</td>
                        <td>洗洗睡</td>
                    </tr>
                </body>
            </table>
            <h4>第二天</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <th>時間</th>
                    <th>活動</th>
                </thead>
                <body>
                    <tr>
                        <td>06:30~07:00</td>
                        <td>集合</td>
                    </tr>
                    <tr>
                        <td>07:00~07:30</td>
                        <td>早操</td>
                    </tr>
                    <tr>
                        <td>08:00~09:00</td>
                        <td>早餐</td>
                    </tr>
                    <tr>
                        <td>09:00~12:00</td>
                        <td>解謎</td>
                    </tr>
                    <tr>
                        <td>12:00~14:00</td>
                        <td>烤肉</td>
                    </tr>
                    <tr>
                        <td>14:00~17:00</td>
                        <td>隊抗</td>
                    </tr>
                    <tr>
                        <td>17:00~18:30</td>
                        <td>晚餐</td>
                    </tr>
                    <tr>
                        <td>18:30~22:00</td>
                        <td>營火晚會</td>
                    </tr>
                    <tr>
                        <td>22:00~00:00</td>
                        <td>小隊時間&宵夜</td>
                    </tr>
                    <tr>
                        <td>00:00~</td>
                        <td>呷飽緊睡</td>
                    </tr>
                </body>
            </table>
            <h4>第三天</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <th>時間</th>
                    <th>活動</th>
                </thead>

                <body>
                    <tr>
                        <td>06:30~07:00</td>
                        <td>集合</td>
                    </tr>
                    <tr>
                        <td>07:00~07:30</td>
                        <td>早操</td>
                    </tr>
                    <tr>
                        <td>08:00~09:00</td>
                        <td>早餐</td>
                    </tr>
                    <tr>
                        <td>09:00~12:30</td>
                        <td>玩水</td>
                    </tr>
                    <tr>
                        <td>12:30~14:00</td>
                        <td>午餐&自由活動</td>
                    </tr>
                    <tr>
                        <td>14:00~</td>
                        <td>回家</td>
                    </tr>
                </body>
            </table>
        </div>
        <div id="game" role="tabpanel" aria-labelledby="game-tab" class="tab-pane fade py-4">
            <div class="row justify-content-center mb-2">
                <h4>功能卡概覽</h4>
            </div>
            <ul>
                <li>所有功能卡都需要回到集合點使用（除了我要報警囉是直接用在強盜上）</li>
                <li>功能卡取得途徑：取得抽卡券並去集合點兌換</li>
                <li>功能卡只能指定不能轉送，有些甚至不能指定</li>
                <li>不能疊加，因為小隊看不到其他小隊的狀態，則使用將會無效，卡牌作廢</li>
            </ul>
            <div class="row justify-content-center mb-2">
                <h4>功能卡種類</h4>
            </div>
            <p>
                <strong style="background-color: gray; color:white;">&nbsp;魚飼料&nbsp;</strong>
                ：用來召喚鯉魚王（許願池）
            </p>
            <p>
                <strong style="background-color:green; color:white;">&nbsp;線索增益&nbsp;</strong>
                ：指定一個小隊下次通關後可以多拿一個線索，但是沒過關就沒了
            </p>
            <p>
                <strong style="background-color:rebeccapurple; color:white;">&nbsp;線索減益&nbsp;</strong>
                ：指定一個小隊下次通關後少拿一個線索（過關才會消失，除非有取消減益）
            </p>
            <p>
                <strong style="background-color:rebeccapurple; color:white;">&nbsp;不是減益是檢疫&nbsp;</strong>
                ：指定一個小隊在5分鐘內到主舞台居家檢疫5分鐘（即暫停卡），就算闖關到一半也一樣，超過5分鐘沒抵達主舞台每分鐘罰10枚古金幣，如果小隊已經闖到第三階段則對此減益無效
            </p>
            <p>
                <strong style="background-color: rebeccapurple; color:white;">&nbsp;禁止闖關&nbsp;</strong>
                ：指定一個小隊禁止闖其中一個關卡15分鐘，最多同時禁到4關
            </p>
            <p>
                <strong style="background-color: gray; color:white;">&nbsp;我ban我自己&nbsp;</strong>
                ：限自己隊用，不會被其他小隊指定（增益也不行）15分鐘，同時自己隊也不能使用任何功能卡
            </p>
            <p>
                <strong style="background-color: green; color:white;">&nbsp;我要報警囉&nbsp;</strong>
                ：限自己隊用，被強盜找上可以用，減少時間的浪費
            </p>
            <p>
                <strong style="background-color: green; color:white;">&nbsp;取消減益&nbsp;</strong>
                ：指定一個小隊，立即消除1個減益
            </p>
            <p>
                <strong style="background-color: gray; color:white;">&nbsp;線索券（貼紙）&nbsp;</strong>
                ：回到主舞台可以兌換一個線索
            </p>
            <p>
                <strong style="background-color: gray; color:white;">&nbsp;古幣券&nbsp;</strong>
                ：出現在抽卡券內的獎池，獎勵有5枚、10枚和15枚
            </p>
            <p>
                <strong style="background-color: gray; color:white;">&nbsp;神秘卡片&nbsp;</strong>
                ：「收好，總有一天會用到的...但或許它真的只是垃圾」
            </p>
            <p>
                <strong style="background-color: gray; color:white;">&nbsp;抽卡券&nbsp;</strong>
                ：獲得功能卡唯一途徑。除了魚飼料，上面全部的卡片都有機會抽到。抽卡券能夠透過集合點購買或是在工作人員跟關主周圍出現，你的眼睛夠利嗎？
            </p>
        </div>
    </div>
    <!-- 結束圓角分頁 -->
</div>

{% endblock %}