{% if user.team_id == 5 %}
{% extends 'staff_layout.html' %}
{% else %}
{% extends 'layout.html' %}
{% endif %}
{% block content %}

<div class="p-4 bg-white rounded shadow mb-5">
    <!-- 圓角分頁 -->
    <ul id="myTab" role="tablist"
        class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
        <li class="nav-item flex-sm-fill">
            <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"
                class="nav-link border-0 text-uppercase font-weight-bold active">房間分配</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">小隊成員</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">活動行程表</a>
        </li>
        <li class="nav-item flex-sm-fill">
            <a id="game-tab" data-toggle="tab" href="#game" role="tab" aria-controls="game"
                aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">解謎遊戲說明</a>
        </li>
    </ul>
    
    <div id="myTabContent" class="tab-content">
        <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
            <p class="text-muted">沒有資料</p>
            <p class="text-muted mb-0">沒有資料</p>
        </div>
        <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
            <p class="text-muted">沒有資料</p>
            <p class="text-muted mb-0">沒有資料</p>
        </div>
        <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
            <p class="text-muted">沒有資料</p>
            <p class="text-muted mb-0">沒有資料</p>
        </div>
        <div id="game" role="tabpanel" aria-labelledby="game-tab" class="tab-pane fade px-4 py-5">
            <p class="text-muted">沒有資料</p>
            <p class="text-muted mb-0">沒有資料</p>
        </div>
    </div>
    <!-- 結束圓角分頁 -->
</div>

{% endblock %}