{% if user.team_id == 5 %}
{% extends 'staff_layout.html' %}
{% else %}
{% extends 'layout.html' %}
{% endif %}
{% block content %}
<div class="mb-4">
    <div class="card shadow" style="border-radius: 25px;">
        <div class="d-flex card-body justify-content-between">
            <div class="tile-header">
                <h4>訊息</h4>
                <span>5G + AI，高大資工起飛</span>
            </div>
            <i class="fas fa-comment-dots mt-2" style="font-size: 3rem; color:darkturquoise;"></i>
        </div>
        <div class="card-footer pb-2">
            
        </div>
    </div>
</div>
{% endblock %}