{% extends 'layout.html' %}
{% block content %}

<div class="bg-white rounded shadow border-0">
    <div class="p-3 bg-white rounded">
        <h4 style="text-align: center; padding-bottom: 10px;"><strong>積分明細</strong></h4>
        <div class="table-responsive">
            <script>
                $(function () {
                    $(document).ready(function () {
                        $('#example').DataTable();
                    });
                });
            </script>
            <table id="example" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>關主</th>
                        <th>隊員</th>
                        <th>積分</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Staff</td>
                        <td>User</td>
                        <td>4234</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}