{% extends 'layout.html' %}
{% block content %}

<div class="p-4 bg-white rounded shadow mb-5">
    <div class="p-4">
        <h4 class="mb-4"><strong>銘謝</strong></h4>
        <!-- Unstyled list -->
        <ul class="list-unstyled">
            <li class="mb-2">Lorem ipsum dolor sit amet.</li>
            <li class="mb-2">Consectetur adipisicing elit.</li>
            <li class="mb-2">Sed do eiusmod tempor incididunt.</li>
            <li class="mb-2">Ut labore et dolore magna aliqua. </li>
            <li class="mb-2">Exercitation ullamco laboris nisi.</li>
        </ul>
    </div>
</div>

{% endblock %}